@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #181a1b;
}

.cell {
  width: 24px;
  height: 24px;
  background: #4d545c;
  box-shadow:
    inset 3px 3px #6f7880,
    inset -3px -3px #232a32;
  position: relative;
}

.cell::before {
  content: "";
  display: block;
  width: 3px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  bottom: -3px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.cell::after {
  content: "";
  display: block;
  width: 3px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  top: -3px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.cell[data-press="true"] {
  background: transparent;
  box-shadow: unset;
  border: 0.5px solid #232a32;
}

.cell[data-press="true"]::before {
  opacity: 0;
}
.cell[data-press="true"]::after {
  opacity: 0;
}

.board {
  padding: 6px;
  box-shadow:
    inset 6px 6px #232a32,
    inset -6px -6px #6f7880;
  border: 8px solid #474e56;
  background: #394048;
}

.board::before {
  content: "";
  display: block;
  width: 6px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #6f7880;
  bottom: -6px;
  left: 0px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.board::after {
  content: "";
  display: block;
  width: 6px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #6f7880;
  top: -6px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.panel {
  padding: 6px;
  box-shadow:
    inset 6px 6px #6f7880,
    inset -6px -6px #232a32;
  position: relative;
}

.panel::before {
  content: "";
  display: block;
  width: 6px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  bottom: -6px;
  left: 0px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.panel::after {
  content: "";
  display: block;
  width: 6px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  top: -6px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.new-game-btn {
  box-shadow:
    inset 4px 4px #6f7880,
    inset -4px -4px #232a32;
  position: relative;
}

.new-game-btn::before {
  content: "";
  display: block;
  width: 4px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  bottom: -4px;
  left: 0px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.new-game-btn::after {
  content: "";
  display: block;
  width: 4px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  top: -4px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.new-game-btn:active {
  box-shadow:
    inset 4px 4px #232a32,
    inset -2px -2px #232a32;
}

.new-game-btn:active span {
  transform: translateX(2px) translateY(2px);
}

.option-pane {
  box-shadow:
    inset 4px 4px #232a32,
    inset -4px -4px #6f7880;
  border: 8px solid #474e56;
  position: relative;
}

.option-pane::before {
  content: "";
  display: block;
  width: 4px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #6f7880;
  bottom: -4px;
  left: 0px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.option-pane::after {
  content: "";
  display: block;
  width: 4px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #6f7880;
  top: -4px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

@font-face {
  font-family: "DSEG7-Classic";
  src:
    url("/fonts/DSEG7-Classic/DSEG7Classic-Bold.woff2") format("woff2"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Bold.woff") format("woff"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DSEG7-Classic";
  src:
    url("/fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.woff2") format("woff2"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.woff") format("woff"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "DSEG7-Classic";
  src:
    url("/fonts/DSEG7-Classic/DSEG7Classic-Italic.woff2") format("woff2"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Italic.woff") format("woff"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DSEG7-Classic";
  src:
    url("/fonts/DSEG7-Classic/DSEG7Classic-Light.woff2") format("woff2"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Light.woff") format("woff"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "DSEG7-Classic";
  src:
    url("/fonts/DSEG7-Classic/DSEG7Classic-LightItalic.woff2") format("woff2"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-LightItalic.woff") format("woff"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "DSEG7-Classic";
  src:
    url("/fonts/DSEG7-Classic/DSEG7Classic-Regular.woff2") format("woff2"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Regular.woff") format("woff"),
    url("/fonts/DSEG7-Classic/DSEG7Classic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.clock {
  font-family: "DSEG7-Classic";
}

.clock-panel {
  box-shadow:
    inset 2px 2px #1e262e,
    inset -2px -2px #5f686f;
  position: relative;
  font-family: "DSEG7-Classic";
}

.clock-panel::before {
  content: "";
  display: block;
  width: 2px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #5f686f;
  bottom: -2px;
  left: 0px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.clock-panel::after {
  content: "";
  display: block;
  width: 2px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #5f686f;
  top: -2px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

input[type="range"].action-logs-progress {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #8f989f;
  box-shadow:
    inset 1px 1px #232a32,
    inset -1px -1px #6f7880;
}

input[type="range"].action-logs-progress::-webkit-slider-runnable-track {
  @apply h-3 bg-none;
}

/******** Firefox ********/
input[type="range"].action-logs-progress::-moz-range-track {
  @apply h-3 bg-none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"].action-logs-progress::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: transparent;
  /* box-shadow: inset 3px 3px #6f7880, inset -3px -3px #232a32; */
  /* display: none; */
  /* box-shadow: 1px 1px 0px 3px black, inset 1px 1px #232a32, -1px -1px 0px 3px white; */
  /* outline outline-[3px] outline-[#697078] */
  @apply h-5 w-5 relative z-[1];
}

/***** Firefox *****/
input[type="range"].action-logs-progress::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  appearance: none;
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: white;
  /* display: none; */
  @apply h-4 w-4 relative z-[1];
}

/* Removes default focus */
input[type="range"].action-logs-progress:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
/* input[type="range"].action-logs-progress:focus::-webkit-slider-thumb { */
/*   @apply border border-white/60 outline outline-1 outline-white; */
/*   outline-offset: 0.125rem; */
/*   appearance: none; */
/* } */

/******** Firefox ********/
/* input[type="range"].action-logs-progress:focus::-moz-range-thumb { */
/*   @apply border border-white/60 outline outline-1 outline-white; */
/*   outline-offset: 0.125rem; */
/*   appearance: none; */
/* } */

/* .action-logs-progress-thumb { */
/*   box-shadow: inset 3px 3px #6f7880, inset -3px -3px #6f7880, */
/*     inset 4px 4px #232a32, 1px 1px 1px #232a32, 0px 0px 1px #93a0ab; */
/* } */

.action-logs-progress-thumb {
  background-color: #4d545c;
  box-shadow:
    inset 3px 3px #6f7880,
    inset -3px -3px #232a32;
}

.action-logs-progress-thumb::before {
  content: "";
  display: block;
  width: 3px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  bottom: -3px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.action-logs-progress-thumb::after {
  content: "";
  display: block;
  width: 3px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  top: -3px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.play-progress-btn {
  box-shadow:
    inset 3px 3px #6f7880,
    inset -3px -3px #232a32;
}

.play-progress-btn::before {
  content: "";
  display: block;
  width: 3px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  bottom: -3px;
  left: 0px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.play-progress-btn::after {
  content: "";
  display: block;
  width: 3px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #232a32;
  top: -3px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

.play-progress-btn:active {
  box-shadow:
    inset 4px 4px #232a32,
    inset -2px -2px #232a32;
}

.play-progress-btn:active svg {
  transform: translateX(2px) translateY(2px);
}

.control-panel {
  box-shadow:
    inset 6px 6px #232a32,
    inset -6px -6px #6f7880;
  border: 8px solid #474e56;
  background: #394048;
}

.control-panel::before {
  content: "";
  display: block;
  width: 6px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #6f7880;
  bottom: -6px;
  left: 0px;
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
}

.control-panel::after {
  content: "";
  display: block;
  width: 6px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background: #6f7880;
  top: -6px;
  right: 0px;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-90deg);
}

